.item#sponsors
  .item-details
    %h2 Meet our sponsors
  = sponsor_major_content(@event)
  .sponsors
    %h3 Sponsors
    %ul.sponsor-logos
      %li
        %a{:href => "http://campaignmonitor.com/", :title => "Webjam 8 is proudly sponsored by Campaign Monitor"} 
          %img{:alt => "Campaign Monitor", :src => "/images/sponsors/campaign-monitor.gif"}
      %li
        %a{:href => "http://2vouch.com/", :title => "Webjam 8 is proudly sponsored by 2Vouch"} 
          %img{:alt => "2Vouch", :src => "/images/sponsors/2vouch.jpg"}
      %li
        %a{:href => "http://www.fatpublisher.com.au/", :title => "Webjam 8 is proudly sponsored by Fatpublisher"} 
          %img{:alt => "Fatpublisher", :src => "/images/sponsors/fatpublisher.gif"}
      %li
        %a{:href => "http://edgeoftheweb.org.au/", :title => "Webjam 8 is proudly sponsored by the Edge of the Web conference"} 
          %img{:alt => "Edge of the Web", :src => "/images/sponsors/edge-of-the-web.jpg"}

  .sponsors.micro
    %h3 Microsponsors
    %ul.sponsor-logos
      %li
        %a{:href => "http://pollenizer.com/", :title => "Webjam 8 is proudly sponsored by Pollenizer"} 
          %img{:alt => "Pollenizer", :src => "/images/sponsors/pollenizer.jpg"}
      %li
        %a{:href => "http://happener.com/", :title => "Webjam 8 is proudly sponsored by Happener"} 
          %img{:alt => "Happener", :src => "/images/sponsors/happener.gif"}
      %li
        %a{:href => "http://freeaustraliawireless.com/", :title => "Webjam 8 is proudly sponsored by Free Australia Wireless"} 
          %img{:alt => "Free Australia Wireless", :src => "/images/sponsors/free-australia-wireless.gif"}  
      %li
        %a{:href => "http://doingwords.com/", :title => "Webjam 8 is proudly sponsored by Doing Words"} 
          %img{:alt => "Doing Words", :src => "/images/sponsors/doing-words.png"}
      %li
        %a{:href => "http://meld.com.au/", :title => "Webjam 8 is proudly sponsored by Meld Consulting"} 
          %img{:alt => "Meld", :src => "/images/sponsors/meld.jpg"}
      %li
        %a{:href => "http://directsms.com.au/", :title => "Webjam 8 is proudly sponsored by directSMS"} 
          %img{:alt => "directSMS", :src => "/images/sponsors/directSMS.gif"}
