.item#summary
  %p 21 presenters delivered 19 amazing presentations at our biggest event ever. They totally smashed it. Check them out!  
  %h2 Place-getters:
  %ol
    %li
      %strong
        %a{:href => "http://mrspeaker.webeisteddfod.com/"} Mr Speaker
        <span class="amp">&amp;</span>
        %a{:href => "http://henrytapia.com/"} Henry Tapia
      TurnTubelist
    %li
      %strong
        %a{:href => "http://lgwebnetwork.org/"} Diana Mounter
      How I build cool stuff for government (and I'm not a backender)
    %li
      %strong
        %a{:href => "http://dmitry.baranovskiy.com/"} Dmitry Baranovskiy
      %a{:href => "http://raphaeljs.com"} Raphaël — the JavaScript Library
  %h2 Presenters:
  %ul
    %li
      %strong
        %a{:href => "http://blog.allen.com.au/"} Matt Allen
        <span class="amp">&amp;</span>
        %a{:href => "http://smartbomb.com.au/"} Lachie Cox
      %a{:href => "http://tweetbeer.com/"} Tweetbeer
    %li
      %strong
        %a{:href => "http://www.pointful.com/"} Mikkel Bergmann
      %a{:href => "http://www.paxjs.com/"} PAX javascript framework
    %li
      %strong
        %a{:href => "http://bovens.net/"} Andreas Bovens
      %a{:href => "http://www.opera.com/products/desktop/next/"} Cool things to do with Opera 9.5 <span class="amp">&</span> 9.6
    %li
      %strong
        %a{:href => "http://fullasagoog.com"} Geoff Bowers
      Folksonomy Fun: Assistive Keywording UI
    %li
      %strong
        %a{:href => "http://ducknewmedia.com.au/"} Myles Byrne
      The next BIG thing on the internet
    %li
      %strong
        %a{:href => "http://jonathanconway.wordpress.com/"} Jonathan Conway
      %a{:href => "http://phonereel.com/"} PhoneReel
    %li
      %strong
        %a{:href => "http://nickcowie.com/"} Nick Cowie
      Using twitter for business
    %li
      %strong
        %a{:href => "http://crockford.com"} Douglas Crockford
      The State of ECMAScript
    %li
      %strong
        %a{:href => "http://linz.id.au/"} Lindsay Evans
      %a{:href => "http://whatcheesesyouoff.com/"}What Cheeses You Off?
    %li
      %strong
        %a{:href => "http://www.paulhagon.com/"} Paul Hagon
      %a{:href => "http://www.paulhagon.com/blog/2008/08/19/powerhouse-street-view-mashup/"} Flickr Commons then & now
    %li
      %strong
        %a{:href => "http://halans.com/"} Jean-Jacques Halans
      %a{:href => "http://mapanui.com/"} Mapanui
    %li
      %strong
        %a{:href => "http://technation.com.au/"} Kim Heras
      %a{:href => "http://ut.ag"} uTag
    %li
      %strong
        %a{:href => "http://my.opera.com/chaals/"} Charles McCathieNevile
      %a{:href => "http://www.opera.com/products/dragonfly/"} Dragonflies eat bugs
    %li
      %strong
        %a{:href => "http://classsoftware.com/"} Justin Mclean
      Connecting hardware to Flex
    %li
      %strong
        %a{:href => "http://blog.metawrap.com/blog/"} James McParlane
      %a{:href => "http://blog.metawrap.com/blog/PracticalApplicationsOfFiniteStateMachinesInWebDevelopment.aspx"} Practical Application Of A JavaScript Finite State Machine/Theorem Prover 
    %li
      %strong
        %a{:href => "http://meonrails.com/"} Enrico Teotti
      Sharing knowledge in the IT world
