.item#winners
  .item-details
    %h2 The winners
  %dl.first
    %dt 
      %a{:href => "http://www.henrytapia.com/archives/2008/09/27/turntubelist-wins-first-prize-at-webjam-8/"} Turntubelist
    %dd.img
      %a{:href => "http://flickr.com/photos/halans/2886929985/"}
        %img{ :alt => "Webjam by Jean-Jacques Halans", :height => "", :src => "http://farm4.static.flickr.com/3210/2886929985_3087b0e7a2.jpg", :title => "Webjam by Jean-Jacques Halans", :width => "300"}
    %dd.place
      %p
        %strong 1st place:
        %a{:href => "http://mrspeaker.webeisteddfod.com/"} Mr Speaker
        <span class="amp">&amp;</span>
        %a{:href => "http://henrytapia.com/"} Henry Tapia
    %dd.prize
      %p
        %strong Prize:
        Brand spanking new 32Gb iPod Touch. 
    %dd
      %p 
        &ldquo;TurnTubelist is a web application that lets you crossfade YouTube videos and build your own playlists for continual YouTube fun. It currently works entirely on the client-side using HTML, CSS and lots of JavaScript (mainly jQuery). It’s not up yet but they aim to put a beta up on the web really soon.&rdquo;
        
  %dl
    %dt How I build cool stuff for government (and I'm not a backender)
    %dd.img
      %a{:href => "http://flickr.com/photos/charliebrewer/2898701268/"}
        %img{ :alt => "Webjam 8 - Bar Broadway - Sydney by Charlie Brewer", :height => "", :src => "http://farm4.static.flickr.com/3084/2898701268_d025f445e9_t.jpg", :title => "Webjam 8 - Bar Broadway - Sydney by Charlie Brewer", :width => "90"}
    %dd.place
      %p
        %strong 2nd place:
        %a{:href => "http://lgwebnetwork.org/"} Diana Mounter
    %dd.prize
      %p
        %strong Prize:
        New 16Gb iPod Touch. 

  %dl
    %dt 
      %a{:href => "http://raphaeljs.com"} Raphaël — the JavaScript Library
    %dd.img
      %a{:href => "http://flickr.com/photos/halans/2886930963/"}
        %img{ :alt => "Webjam by Jean-Jacques Halans", :height => "", :src => "http://farm4.static.flickr.com/3067/2886930963_1ccdea4d25_t.jpg", :title => "Webjam by Jean-Jacques Halans", :width => "90"}
    %dd.place
      %p
        %strong 3rd place:
        %a{:href => "http://dmitry.baranovskiy.com/"} Dmitry Baranovskiy
    %dd.prize
      %p
        %strong Prize:
        Canon Digital IXUS 90 IS. 