-#.item#winners
-#  .item-details
-#    %h2 The winners
-#  %dl.first
-#    %dt Dmitry rocks out with Optimus
-#    %dd.img
-#      %img{ :alt => "Image of Dmitry by Charlie Brewer", :height => "", :src => "", :title => "Image of Dmitry by Charlie Brewer", :width => "288"}
-#    %dd.place
-#      %p
-#        %strong 1st place:
-#        %a{ :href => "/people/dmitrybaranovskiy/"} Dmitry Baranovskiy
-#    %dd.prize
-#      %p
-#        %strong Prizes:
-#        iPod Touch from Whoever, 10 books from Sitepoint. 
-#    %dd
-#      %p 
-#        Dmitry did something really cool with microformats. Dmitry did something really cool with microformats.
-#        %a.details{ :href => "#" } Check it out
-#        
-#  %dl
-#    %dt Dmitry rocks out with Optimus
-#    %dd.img
-#      %img{ :alt => "Image of Dmitry by Charlie Brewer", :height => "", :src => "", :title => "Image of Dmitry by Charlie Brewer", :width => "288"}
-#    %dd.place
-#      %p
-#        %strong 2nd place:
-#        %a{ :href => "/people/dmitrybaranovskiy/"} Dmitry Baranovskiy
-#    %dd.prize
-#      %p
-#        %strong Prize:
-#        iPod Touch from Binalogue. 
-#    %dd
-#      %p 
-#        %a.details{ :href => "#" } Check it out
-#              
-#  %dl
-#    %dt Dmitry rocks out with Optimus
-#    %dd.img
-#      %img{ :alt => "Image of Dmitry by Charlie Brewer", :height => "", :src => "", :title => "Image of Dmitry by Charlie Brewer", :width => "288"}
-#    %dd.place
-#      %p
-#        %strong 3rd place:
-#        %a{ :href => "/people/dmitrybaranovskiy/"} Dmitry Baranovskiy
-#    %dd.prize
-#      %p
-#        %strong Prize:
-#        5 books from Sitepoint. 
-#    %dd
-#      %p 
-#        %a.details{ :href => "#" } Check it out