.item#sponsors
  .item-details
    %h2 Meet our sponsors
    %a.details{ :href => "mailto:welovesponsors@webjam.com.au"} Want your logo here? Get in touch.
  = sponsor_major_content(@event)
  .sponsors
    %h3 Sponsors
    %ul.sponsor-logos
      %li
        %a{:href => "mailto:welovesponsors@webjam.com.au", :title => "Email the Webjam team about sponsorship"} 
          %img{:alt => "Your logo", :src => "/images/sponsors/default-sponsor.gif"}
  .sponsors.micro
    %h3 Microsponsors
    %ul.sponsor-logos
      %li
        %a{:href => "http://edgeoftheweb.org.au/", :title => "Webjam 9 is proudly sponsored by the Edge of the Web conference"} 
          %img{:alt => "Edge of the Web", :src => "/images/sponsors/edge-of-the-web.jpg"}
      %li
        %a{:href => "http://linkartist.com.au/", :title => "Webjam 9 is proudly sponsored by Linkartist Multimedia"} 
          %img{:alt => "Linkartist Multimedia", :src => "/images/sponsors/linkartist-multimedia.png"}
      %li
        %a{:href => "http://webindustry.asn.au/", :title => "Webjam 9 is proudly sponsored by the Australian Web Industry Association"} 
          %img{:alt => "Australian Web Industry Association", :src => "/images/sponsors/awia.gif"}
      %li
        %a{:href => "http://directsms.com.au/", :title => "Webjam 9 is proudly sponsored by directSMS"} 
          %img{:alt => "directSMS", :src => "/images/sponsors/directSMS.gif"}   
      %li
        %a{:href => "http://radharc.com.au/", :title => "Webjam 9 is proudly sponsored by radharc"} 
          %img{:alt => "radharc", :src => "/images/sponsors/radharc.gif"}       
      %li
        %a{:href => "http://norg.com.au/", :title => "Webjam 9 is proudly sponsored by Norg Media"} 
          %img{:alt => "Norg Media", :src => "/images/sponsors/norg-media.png"}
      %li
        %a{:href => "http://fivesensescoffee.com.au/", :title => "Webjam 9 is proudly sponsored by 5 Senses Coffee"} 
          %img{:alt => "5 Senses Coffee", :src => "/images/sponsors/five-senses-coffee.jpg"}