.sponsors.major
  %h3 Major Sponsors
  %ul.sponsor-logos
    %li
      %a{:href => "http://adobe.com/", :title => "Webjam 8 is proudly sponsored by Adobe"} 
        %img{:alt => "Adobe", :src => "/images/sponsors/adobe.gif"}