.item#summary
  %p 15 presenters delivered 14 fantastic presentations at our second event in Perth. They were simply amazing. Check them out!  
  %h2 Place-getters:
  %ol
    %li
      %strong
        %a{ :href => "http://webjam.com.au/people/mattman" } Matt Didcoe
      %a{ :href => "http://soundfolder.com/" } SoundFolder.com
      &amp; When&rsquo;s the next fucking bus?
    %li
      %strong
        %a{ :href => "http://webjam.com.au/people/sutto" } Darcy Laycock
      When Twitter met IRC
    %li
      %strong
        %a{ :href => "http://webjam.com.au/people/rj" } Richard Johnson
      Introducing Lingopal
  %h2 Presenters:
  %ul
    %li
      %strong
        %a{ :href => "http://webjam.com.au/people/garybarber" } Gary Barber
      The Code
    %li
      %strong
        %a{ :href => "http://webjam.com.au/people/Jinnan" } Jinnan Cai
      %a{ :href => "http://buzka.com/" } Sharing the web with Buzka
    %li
      %strong
        %a{ :href => "http://webjam.com.au/people/logaan" } Colin Campbell-McPherson
      Generating sites with Hackless
    %li 
      %strong
        %a{ :href => "http://webjam.com.au/people/nickcowie" } Nick Cowie
      Websledge 2: return of the sledge?
    %li
      %strong
        %a{ :href => "http://webjam.com.au/people/madpilot" } Myles Eftos
      webTunes
    %li
      %strong
        %a{ :href => "http://webjam.com.au/people/richard" } Richard Giles
      You Want To Filter My Internet?
    %li
      %strong
        %a{ :href => "http://webjam.com.au/people/factoryjoe" } Chris Messina
      Facebook without Facebook
    %li
      %strong
        %a{ :href => "http://webjam.com.au/people/davidlmorris" } David L Morris
      %a{ :href => "http://www.netwiz.com.au/cssmenu.html" } CSS menus
    %li
      %strong 
        %a{ :href => "http://webjam.com.au/people/goatlady" } Kay Smoljak
        &amp;
        %a{ :href => "http://webjam.com.au/people/krollster" } Ben Kroll
      %a{ :href => "http://perthfestival.com.au/myfestival/" } My Festival Planner
    %li
      %strong
        %a{ :href => "http://webjam.com.au/people/brettreasure" } Bret Treasure
      Search Engine Social
    %li
      %strong
        %a{ :href => "http://webjam.com.au/people/lance" } Lance Wiggs
      How Trade Me sold for $750m
