#latest.item.last
  %h2
    Latest News
    %a.feed{ :href => APPLICATION_CONFIG.feed_url, :title => "Subscribe!" } Subscribe!
  - if @latest_post
    %h3= @latest_post.title
    %p= @latest_post.body[0..100]
    %ul
      %li.first
        %a{ :href => post_path(@latest_post.year, @latest_post.permalink) } Read more...
      %li
        %a{ :href => "#{post_path(@latest_post.year, @latest_post.permalink)}#comments" }= "#{@latest_post.comments.size} comments"
      %li.more
        %a{ :href => "/news/" } News archive