.item.last
  %h2 New here?
  %p In case you're wondering why you need a Webjam account, we think we can offer better services and opportunities for people who become members of the community. Having an account means that you can make comments on blog posts and presentations and receive reminders about events you've signed up for. Soon you'll be able to tie your photos, video and tweets from the night with your profile and the event itself. You'll be able to change your notification settings and we've got a whole lot more features coming!