.item.last
  %h2 New here?
  %p In case you're wondering why you need a Webjam account, we've required it because we think we can offer better services and opportunities for people who become members of the community.