#shirt.item
  %h2 Get the T
  %div.tee
    %img{ :alt => "Buy the Webjam tee for our next event!", :height => "200", :src => "/images/shirt-webjam3.gif", :width => "215"}
    %p.note Grab a hot tee on the night!