#wtf.item
  %h2 WTF?
  %p 18 presenters with 3 minutes each to show off their hot web work.
  %p You vote for the big winner and they get to take home cool booty.
  %p We have prizes awarded to random voters as well!
  %p Oh, and sometimes there are free drinks too.