.item#sponsors
  .item-details
    %h2 Meet our sponsors
  = sponsor_major_content(@event)
  .sponsors
    %h3 Sponsors
    %ul.sponsor-logos
      %li
        %a{:href => "http://anchor.com.au/", :title => "Webjam 11 is proudly sponsored by Anchor"} 
          %img{:alt => "Anchor", :src => "/images/sponsors/anchor.png"}
      %li
        %a{:href => "mailto:sponsors@webjam.com.au", :title => "Do you want to sponsor Webjam 11?"} 
          %img{:alt => "Please sponsor", :src => "/images/sponsors/default-sponsor.gif"}

  .sponsors.micro
    %h3 Microsponsors
    %ul.sponsor-logos
      %li
        %a{:href => "http://directsms.com.au/", :title => "Webjam 11 is proudly sponsored by directSMS"} 
          %img{:alt => "directSMS", :src => "/images/sponsors/directSMS.gif"}
      %li
        %a{:href => "mailto:sponsors@webjam.com.au", :title => "Do you want to sponsor Webjam 11?"} 
          %img{:alt => "Please sponsor", :src => "/images/sponsors/default-sponsor.gif"}