.sponsors.major
  %h3 Major Sponsors
  %ul.sponsor-logos
    %li
      %a{:href => "http://atlassian.com/32/", :title => "Webjam 11 is proudly sponsored by Atlassian"} 
        %img{:alt => "Atlassian is hiring 32 engineers", :src => "/images/sponsors/atlassian-32.png"}        
    %li
      %a{:href => "mailto:sponsors@webjam.com.au", :title => "Do you want to sponsor Webjam 11?"} 
        %img{:alt => "Please sponsor", :src => "/images/sponsors/default-sponsor.gif"}