#other-content {font-size: 1.5em; padding: 1em; width: 14em;}
  
  #main-nav {}
    #main-nav li {margin: 0 0 0.2em 0;}

  #other-content ul.actions {margin: 2em 0 0 0;}


#content {overflow: auto; padding: 1em;}

  #content ul {font-size: 1.2em;}
    #content ul li {list-style-type: none; margin: 0 0 0.4em 0;}
    
  #content ul.actions {border-left: 2px solid #fcfcfc; float: left; line-height: 2; width: auto;}
      #content ul.actions li {border-right: 2px solid #fcfcfc; float: left; margin: 0 1em 0 0; padding: 0 1em 0 0; width: auto;}
        #content ul.actions li a,
        #content ul.actions li input {padding: 0.2em 1em 0.2em 1em;}
      
        #content ul.actions li form.button-to {}
          #content ul.actions li form.button-to div {}
            #content ul.actions li form.button-to div input {float: none; width: auto;}
            
  #content h1 {clear: both; margin: 1.4em 0 0.5em 0;}
  
  #content input.submit {margin: 0.4em 0 0 0;}
  
  
  ul#proposals {}
    ul#proposals li {}
      ul#proposals li em {padding: 0 0 0 2em;}
      
  ul#rsvps {}
    ul#rsvps li {}
      ul#rsvps li em {padding: 0 0 0 2em;}
      ul#rsvps li strong {padding: 0 2em 0 0;}
