/****
Webjam
http://webjam.com.au
20070812

TOC
- =Generic Rules
	-- =Generic Text
		 --- =Links
		 --- =Headings
		 --- =Body Text
		 --- =Avatars
		 --- =Date, Times etc
	-- =Generic Forms
- =Structure
	-- =Upcoming Events
	-- =Main Content
		 --- =Content
				 ---- =Posts
		 		 		  ----- =hAtom
							----- =Comments
		     ---- =Join Form
				 ---- =Profile
		 --- =Other Content
		 	   ---- =Main Nav
	-- =Sub Content
		 --- =Schwag
		 --- =Sponsors
		 --- =Supporters
	-- =Footer
- =JS Enabled
- =Tim's Rules

****/


/* - =Generic Rules - */

	/* -- =Generic Text -- */

		/* --- =Links --- */
		a:link {color: #ccc;}
		a:visited {color: #fff;}
		a:hover, a:active, a:focus {color: #f03e00;}
		
		/* --- =Headings --- */
		h1, h2, h3, h4, h5, h6 {margin: 0 0 0.5em;}
		h1 {background: #0e0e0e; color: #666; font-size: 1.72em; font-weight: 300;}
			h1 strong {background: #0e0e0e; color: #fff; font-weight: 300;}
		h2 {font-size: 1.6em;}
		h3 {font-size: 1.5em;}
		h4 {font-size: 1.4em;}
		h5 {font-size: 1.2em;}
		h6 {font-size: 1.1em;}
		
		#wrapper p.title {background: #0e0e0e; color: #666; font-size: 1.5em; font-weight: 300;}
			#wrapper p.title strong {background: #0e0e0e; color: #fff; font-weight: 300;}
		
		/* --- =Body Text --- */
		#content p,
		#content li,
		#content ol,
		#content ul {margin: 0 0 0.5em;}
		#content p {font-size: 1.07em; line-height: 1.5; margin: 0 0 2em 0;}
		#content ul {}
			#content ul li {font-size: 1.07em; list-style-position: inside; list-style-type: circle;}
		#content ol {}
			#content ol li {font-size: 1.07em; list-style-position: inside; list-style-type: decimal;}
			
		.amp {background: #0e0e0e; color: #666; font: italic 100 1.25em Baskerville, "Goudy Old Style", "Palatino", Georgia, "Book Antiqua", serif; position: relative; top: 2px;}
		
		/* --- =Avatars --- */
		
		.user-avatar {position: relative;}
			.user-avatar .vcard {padding: 0 0 0 18px; text-decoration: none;}	
			zli.profile .user-avatar {display: block; line-height: 1; padding: 0.6em 1em 2em 0em;}	
				.user-avatar .vcard img {left: 0; position: absolute; top: 1px;}
				zli.profile .user-avatar .vcard img {left: 2px; top: 2px;}

		/* --- =Dates, Times etc --- */
		.date {font: 1em/1.6 Georgia, serif;}

	/* -- =Generic Forms -- */

	form {clear: both; float: left; padding: 0 0 2em 0; zpadding: 1em 0;}
		fieldset {margin: 0; padding: 0;}
			fieldset fieldset {clear: both;}
		form label {clear: both; display: block; float: left; font-weight: bold; margin: 0 0 0.4em 0; padding: 0.5em 0 0 0; width: auto;}
			form label span {display: block; float: left; margin: 0.2em 0 0 0; width: 8em;}
				form label span.note {clear:both; color: #565757; font: 0.86em "Trebuchet MS", Arial, Helvetica, sans-serif; margin: 0.5em 0 0 9em; width: auto;}
		input {background: #e6e5e5; color: #000; float: left; width: 14em;}
		select {float: left; width: 10em;}
		textarea {float: left; width: 27em;}
			input.checkbox {margin: 0.4em 0; width: auto;}
/*			fieldset.buttons input,
			input.submit,
			form.button-to input {background: #ff6200; border: none; clear: both; color: #000; cursor: pointer; float: none; margin: 1em 0 0 8.4em; width: auto;}*/
			input.submit {margin: 0.4em 0 0 10.2em; width: 14.3em;}
			
			form.button-to {display: inline; margin: 0; padding: 0;}


/* - =Structure - */
body {background: #2a2e2f url('/images/bg-body.gif') no-repeat center center; color: #fff; font: 62.5%/1.3 "Trebuchet MS", Arial, Helvetica, sans-serif; margin:0; padding:0;}
	body.home {}
	
#page {font-size: 1.4em; margin: 4em auto 0; position: relative; width: 70em;}

	#account-tools {margin: 0 0 1.5em 0; position: absolute; right: 0; top: -2.3em;}
		#account-tools li {background: #0e0e0e; float: left; font-size: 0.94em; line-height: 1; margin: 0 1em 0 0; text-align: center;}
			
		#account-tools li.logout {}
			#account-tools li.logout form.button-to input {background: #0e0e0e; border: 1px solid #ff5e29; border-bottom: none;  color: #fff; cursor: pointer; float: none; margin: 0; padding: 0.6em; width: auto;}
			#account-tools li.logout form.button-to input:hover {background: #ff5e29; border: 1px solid #0e0e0e; border-bottom: none; color: #0e0e0e; cursor: pointer; float: none; margin: 0; padding: 0.6em; width: auto;}
		
		#account-tools li.login {}
		#account-tools li.profile {}
			#account-tools li.profile a {padding: 2em 0 0 0;}
		#account-tools li.register {}
		
			#account-tools li a:link,
			#account-tools li a:visited {background: #0e0e0e; border: 1px solid #ff5e29; border-bottom: none;  color: #fff; display: block; padding: 0 1em 0.4em 1em; text-decoration: none;}
			#account-tools li a:hover,
			#account-tools li a:active,
			#account-tools li a:focus {background: #ff5e29; border: 1px solid #0e0e0e; border-bottom: none;  color: #0e0e0e;}
				#account-tools li strong {background: transparent; display: block; color: #ff5e29; margin: 0.1em 0 0.1em 0; text-transform: lowercase;}
				#account-tools li a:hover strong,
				#account-tools li a:active strong,
				#account-tools li a:focus strong {color: #0e0e0e;}

	#wrapper {background: #0e0e0e url('/images/bg-footer.gif') repeat-x 0 100%; border: 1px solid #000; border-bottom: none; float: left; position: relative; width: 70em;}

	body.home h1,
	#pagetitle {background: #0e0e0e url('/images/bg-perth.jpg') no-repeat 0 0; height: 146px; margin: 0; text-align: center;}
	#pagetitle {font-size: 1.8em;}
		body.home h1 img,
		#pagetitle img {border: none; font-size: 0.4em; height: 15.2em; max-height: 152px; width: 97em; max-width: 1033px;}
	
	/* -- =Upcoming Events -- */
	#upcoming-events {background: #370e0c url('/images/bg-perth-upcoming.jpg') no-repeat 0 0; clear: both; float: left; margin: 0; padding: 0 0 0 20em; width: 50em;}
		#upcoming-events dl.vevent {border-left: 1px solid #320b10; float: left; font-size: 1em; margin: 0 2em; padding: 0 1em 0; position: relative; width: 12em;}
			#upcoming-events .vevent dt.summary {font-size: 1em; font-weight: normal;}
				#upcoming-events .vevent a.url {display: block; font-size: 1.3em; line-height: 1; margin: 0.2em 0 0; text-decoration: none; text-transform: lowercase;}
			#upcoming-events .vevent dd {margin: 0;}
				#upcoming-events .vevent dd.location {left: -9999em; position: absolute; top: -9999em;}
				#upcoming-events .vevent dd.date-time {left: -2.3em; position: absolute; top: 0; width: 2.3em;}
					#upcoming-events .vevent .dtstart {}
						#upcoming-events .vevent .dtstart .date {display: block; font-size: 1.6em; line-height: 1.2; text-align: center;}
						#upcoming-events .vevent .dtstart .month {display: block; line-height: 1; text-align: center;}
					#upcoming-events .vevent dd.rsvp,
					#upcoming-events .vevent dd.jammers {margin: 0 0 0.2em; position: relative; width: 8.4em;}
						#upcoming-events .vevent dd.rsvp a,
						#upcoming-events .vevent dd.jammers a {background: #ff5e28; color: #200d07; font-size: 0.7em; padding: 0.1em 0.3em 0.1em; position: absolute; text-align: center; text-decoration: none; text-transform: uppercase; top: 0.3em; right: 0; width: 5em;}
						#upcoming-events .vevent dd.rsvp a.full,
						#upcoming-events .vevent dd.jammers a.full {background: #232524; color: #7c7e7d;}

	
	/* -- =Main Content -- */
	#maincontent {float: left; padding: 2.5em 0 2em; width: 54em;}
	
		/* --- =Content --- */
		#content {border: 1px solid #1a1a1a; border-bottom: none; border-top: none; float: right; margin: 0 1em 0 0; padding: 0 1em; width: 34em;}
			
			/* ---- =Posts ---- */
			
				/* ----- =hAtom ----- */
				.hentry {border-bottom: 1px solid #292a2a; float: left; width: auto;}
					.hentry .entry-title {background: #0e0e0e; color: #fff; margin: 0 0 0.4em;}
					#content .hentry ul.byline {border-bottom: 1px solid #292a2a; border-top: 1px solid #525353; font-size: 0.8em; list-style-type: none; margin: 0 0 2em 0; overflow: auto; padding: 0.2em 0;}
						#content .hentry .byline li {float: left; list-style-type: none; width: auto;}
						#content .hentry .byline li.comments {float: right; background: #0e0e0e url('/images/icon-comments-full.gif') no-repeat 0 1px; padding: 0 0 0 20px;}
						.hentry .byline .updated {}
					.hentry .entry-content {}
					.hentry .author {}
						.hentry .vcard {}
						.hentry .vcard .fn {}
					#content .hentry .entry-footer {border: 1px solid #292a2a; border-left: none; border-right: none; float: left; font-size: 0.8em; font-weight: 100; margin: 0 0 0.08em 0; padding: 0.2em 0 0.2em 0; width: 43em;}
						#content .hentry .entry-footer li {float: left; list-style-type: none;}
							#content .hentry .entry-footer li.post-date {background: #0e0e0e url('/images/icon-post.jpg') no-repeat 0 2px; color: #fff; padding: 0 0 0 20px;}
							#content .hentry .entry-footer li.tags {background: #0e0e0e url('/images/icon-tag.jpg') no-repeat 0 1px; color: #fff; float: right; padding: 0 0 0 5.2em; position: relative; width: 16em;}
								#content .hentry .entry-footer li.tags span {zdisplay: block; left: 20px; position: absolute; top: 0; width: 3.1em;}
								#content .hentry .entry-footer li.tags ul {}
								#content .hentry .entry-footer li.tags ul li {display: inline; font-size: 1em; margin: 0; padding: 0 0.2em 0 0;}
									#content .hentry .entry-footer li.tags ul li a {text-decoration: none;}
				
				/* ----- =Comments ----- */
				#comments {clear: both; padding: 2em 0 0 0;}
					#comments p.blurb {font: 700 1.4em "Trebuchet MS", Arial, Helvetica, sans-serif; margin: 0;}
					#comments form {border-top: 1px solid #1a1a1a; margin: 1em 0 0 0; padding: 1em 0 0 0;}
					
					/* ------ =hAtom ------ */
					#comments .hentry {border: none; margin: 0 0 3em 0; min-height: 100px; padding: 0 0 0 100px; position: relative;}
						#comments .hentry .entry-title {background: green;}
						#comments .hentry .updated {background: blue;}
						#comments .comment-details {background: #0e0e0e; color: #ccc; font-size: 0.9em; margin: 0 0 0.4em 0;}
							#comments .comment-details img {left: 0; position: absolute; top: 0;}
						#comments .hentry .entry-content {margin: 0 0 0 0.8em;}
						#comments .hentry .author {}
							#comments .hentry .author img.photo {height: 82px; width: 82px;}
							#comments .hentry .vcard {background: fuschia;}
							#comments .hentry .vcard .fn {}
							
			/* ---- =Archives ---- */
			body.archive #content ul li {background: #0e0e0e; color: #a2a2a2; list-style-type: none;}
				body.archive #content ul li a:link {text-decoration: none;}
			ul.year {float: left; padding: 0 0 0 4.2em; position: relative; width: auto;}
			    ul.year li {float: left; width: auto;}
			        ul.year li h2 {font: 100 1.6em/1.3 "Trebuchet MS", Arial, Helvetica, sans-serif; left: 0; position: absolute; top: 0.05em; width: 2.5em;}
								ul.year li h2 a:link,
								ul.year li h2 a:visited {background: #0e0e0e; color: #a2a2a2; text-decoration: none;}
								ul.year li h2 a:hover,
								ul.year li h2 a:active,
								ul.year li h2 a:focus {text-decoration: underline;}
						#content ul.year ul.month {border-bottom: 1px solid #292a2a; float: left; padding: 0 0 0.71em 0; width: 26em;}
							#content ul.year ul.month li {margin: 0; width: auto;}
								ul.year ul.month li h3 {float: left; font: 100 1em/1.5 "Trebuchet MS", Arial, Helvetica, sans-serif; letter-spacing: 0.1em; margin: 0.42em 0 0 0; text-transform: lowercase; width: auto;}
									ul.year ul.month li h3 a:link,
									ul.year ul.month li h3 a:visited {background: #0e0e0e; color: #ff5e29; text-decoration: none;}
										ul.year ul.month li h3 a:hover,
										ul.year ul.month li h3 a:active,
										ul.year ul.month li h3 a:focus {background: #0e0e0e; color: #ff5e29; text-decoration: underline;}
								#content ul.year ul.month li p {float: left; font: 100 1em/1.5 "Trebuchet MS", Arial, Helvetica, sans-serif; margin: 0.4em 0 0 1em; width: auto;}
								#content ul.month ul.posts {float: left; margin: 0; width: 26em;}
									#content ul.month ul.posts li {display: inline; float: none; font: 100 0.935em/1.5 "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 0 0.2em 0 0; text-transform: lowercase;}
										ul.month ul.posts li a:link,
										ul.month ul.posts li a:visited {background: #0e0e0e; color: #fff; text-decoration: none;}
										ul.month ul.posts li a:hover,
										ul.month ul.posts li a:active,
										ul.month ul.posts li a:focus {background: #0e0e0e; color: #fff; text-decoration: underline;}
										
										#content ul.posts li a.comments {background: #0e0e0e url('/images/icon-comments.gif') no-repeat 0 4px; padding: 0 0 0 20px;}
										ul.posts li a.comments:link,
										ul.posts li a.comments:visited {}
										ul.posts li a.comments:hover,
										ul.posts li a.comments:active,
										ul.posts li a.comments:focus {}
										
			
			/* ---- =About ---- */
			body.about #content p {font: 300 1.6em/2 "Trebuchet MS", Arial, Helvetica, sans-serif;}
				body.about #content p strong {font-weight: 700;}
			
			/* ---- =Join Form ---- */
				#openid-login {border: 1px solid #303030; padding: 0.6em 0;}
					#openid-login label {background: #0e0e0e url('/images/bg-login-input.gif') no-repeat 100% 6px; color: #ff6200; margin: 0 0.4em 0 0.4em; padding: 0 8px 0.4em 0; width: 24.5em;}
						#openid-login label img {float: left;}
						#openid-login label input {border: none; float: right; height: 24px; margin: 6px 0 0 1em; padding: 6px 0 0 0; width: 19.3em;}
					#openid-login input.submit {font-size: 1.07em; font-weight: 700; height: 2.1em; margin: 6px 1em 0 1.2em; padding: 0 0 0.2em 0; width: 5em;}
				#construct-openid {background: #0e0e0e url('/images/bg-openid-construct.jpg') no-repeat 0 0; margin: 1em 0 1em 0; padding: 0 0 0 135px;}
					#construct-openid p {margin: 0 0 1em 0;}
					#construct-openid select {margin: 0 2em 0 0;}
					#construct-openid input {font-size: 1em; width: 12em;}

				body.js #openid-login {padding: 5.3em 0 2em 0; position: relative;}
					body.js #openid-login #openid-url-label {position: static; width: 24.3em;}
					body.js p.explanation {}
						body.js span.construct-openid {display: block; float: none; left: 120px; position: absolute; top: -4.9em; width: auto;}
							body.js span.service-images {display: block; float: none; margin: 0 0 0.4em 0; width: 10em;}
								body.js span.service-images a {border: none;}
									body.js span.service-images a img {border: 1px solid #fcfcfc; border-bottom-color: #303030; border-right-color: #303030; margin: 2px;}
							body.js span.construct-openid select {clear: both; margin: 0.4em 0 0.4em 0;}
							body.js #openid-login span.construct-openid label {background: transparent; margin: 0; padding: 0;}
								body.js #openid-login span.construct-openid label input {float: left; margin: 0.2em 0 0.2em 0; width: 20.5em;}
							body.js span.construct-openid em {clear: left; font-weight: 100; padding: 0.3em 0 0 0;}
						

			/* ---- =Profile ---- */
			#profile-menu {float: right; width: 10em;}
				#profile-menu li {display: inline; list-style-type: none;}
					#profile-menu li a:link,
					#profile-menu li a:visited {}
					#profile-menu li a:hover,
					#profile-menu li a:active
					#profile-menu li a:focus {}
			
			#edit-mugshot {}
					#edit-mugshot h4 {clear: both; margin: 2em 0 0 0;}
					
			dl.vcard {}
				.vcard dt.fn {}
				.vcard dd {}
					.vcard dd a.url {}
				
					.vcard dd.avatar {background: #0e0e0e url('/images/bg-profile-avatar.jpg') no-repeat center top; float: right; padding: 15px 0 0 0; text-align: center;}
						.vcard dd.avatar a {display: block;}
						.vcard dd.avatar img {border: 1px solid #373737; margin: 0 0 0.4em 0; padding: 0.7em;}
						
			

		/* --- =Other Content --- */
		#other-content {float: left; padding: 0 1em 2em; width: 14em;}
		
			/* ---- =Main Nav ---- */
			#main-nav {float: left; margin: 0 1em 0 2em;}
				#main-nav li {font-size: 1.2em; margin: 0 0 0.2em;}
					#main-nav li a:link, 
					#main-nav li a:visited {text-decoration: none;}
					#main-nav li a:hover,
					#main-nav li a:active,
					#main-nav li a:focus {background: #0e0e0e; color: #f03e00; text-decoration: underline;} 
					#main-nav li span {background: #0e0e0e; color: #f03e00;} 
					
					#main-nav li li {font-size: 0.8em;}
						#main-nav li li a {background: #0e0e0e url('/images/bg-subnav.gif') no-repeat 0 2px; padding: 0 0 0 12px;}
						#main-nav li li span {background: #0e0e0e url('/images/bg-subnav-active.gif') no-repeat 0 2px; padding: 0 0 0 12px;}
						#main-nav li strong {font-size: 0.8em;}
		
	/* -- =Sub Content -- */			
	#subcontent {float: right; padding: 2.5em 1em 2em; width: 14em;}
		#subcontent strong.title {}
		#subcontent .module {margin: 0 0 2em 0;}
			
		/* --- =Schwag --- */
		#schwag {}
			#schwag img {}
			#schwag p {}
			#schwag form {}
				#schwag form label {}
				#schwag form input,
			  #schwag form select {float: right; width: 15em;}
					#schwag form input.submit {width: 9em;}
			
		/* --- =Sponsors --- */
		#sponsors {}
			.sponsorbadge {height: 50px; overflow: hidden; margin: 0.6em 0 0; text-indent: -9999em;}
			.sponsorbadge a {background-image: url('../images/sponsor_default.gif'); display: block; height: 50px; width: 198px;}	
				.sponsorbadge a:hover {background-position: 0 -50px;}

				#sponsorcm a {	background-image: url('../images/sponsor_cm.gif'); }
				#sponsorwd a {	background-image: url('../images/sponsor_wd.gif'); }
				#sponsoral a {	background-image: url('../images/sponsor_al.gif'); }
				#sponsorad a {	background-image: url('../images/sponsor_ad.gif'); }
				#sponsorms a {	background-image: url('../images/sponsor_ms.gif'); }
				#sponsorrs a {	background-image: url('../images/sponsor_rs.gif'); }
				#sponsorwu a {	background-image: url('../images/sponsor_wu.gif'); }
				#sponsorml a {	background-image: url('../images/sponsor_ml.gif'); }
				#sponsorse a {	background-image: url('../images/sponsor_se.gif'); }
				
		/* --- =Supporters --- */
		#supporters {}
			#supporters ul {}
				#supporters ul li {}
					#supporters ul li a {}
		
	/* -- =Footer -- */		
	#footer {background: #0e0e0e; border: 1px solid #000; border-bottom: none; border-top: none; clear: both; color: #565757; margin: 0 auto; padding: 1em 0 1em 0; text-align: center; width: 70em;}
		#footer p {font: 0.94em "Trebuchet MS", Arial, Helvetica, sans-serif; margin: 0 0 0.4em 0;}
		

/* - =JS enabled - */

html.js {}


/* - =Tim's rules - need to be folded in - */

li.current a {
  color: #f66;
}

h3 {
  clear: left;
}