%fieldset

  %label{ :for => "presentation_proposal_title" }
    %span
      Title
    = f.text_field :title

  %label{ :for => "presentation_proposal_title" }
    %span
      Description
    = f.text_area :description
