= render :partial => "shared/event_title", :locals => {:event => event}
%a.details{ :href => event_path(event) } Rewind

.slideshow
  %ul
    - event.flickr_photos.featured.each do |fp|
      %li
        %a{:href => fp.url}
          %img{ :title => "#{fp.title} by #{fp.realname}", :src => fp.img_url, :alt => fp.title }
        %br
        Photo by
        %a{:href => fp.profile_url}<
          =fp.realname

= event.hype
-#
-#  %ul.sponsors
-#    %li.proud Proudly sponsored by
-#    %li
-#      %a.directSMS{ :href => "#" } DirectSMS
-#    %li
-#      %a.directSMS{ :href => "#" } SegPub
-#    %li
-#      %a.directSMS{ :href => "#" } iBurst