.item
  = render :partial => "pages/events/title", :locals => {:link_name => "Details", :event => event}
    
  .column
    = event.hype

  = render :partial => "shared/event_regsistration_column", :locals => {:event => event}
