.item
  = render :partial => "pages/events/title", :locals => {:link_name => "Details", :event => event}
    
  .column
    = event.hype

  .column
    %dl.registration
      %dt
        %a.button.rsvp{ :href => "#" } RSVP
      %dd
        %p
          %strong Want to attend?
          Only 76 spots, get on it.
      %dt
        %span.button.closed Too late
      %dd
        %p
          %strong Want to present?
          Applications are closed.
