.item
  .item-details
    %h2 Webjam 8
    %h3 Perth, 15 Aug 08
    %a.details{ :href => "/webjam8/" } Details
  
  .column
    %p This is some clever text that’ll hype the next webjam. This is some clever text that’ll hype the next webjam. This is some clever text that’ll hype the next webjam.

  .column
    %dl.registration
      %dt
        %a.button.rsvp{ :href => "#" } RSVP
      %dd
        %p
          %strong Want to attend?
          Only 76 spots, get on it.
      %dt
        %span.button.closed Too late
      %dd
        %p
          %strong Want to present?
          Applications are closed.
