= render :partial => "shared/event_title", :locals => {:event => event}
%a.details{ :href => event_path(event) } Details
  
.column
  = event.hype

= render :partial => "shared/event_registration_column", :locals => {:event => event}

.sponsors.major
  %h3 Major Sponsors
  #ul.sponsor-logos
    %li
      %a{:href => "http://adobe.com/", :title => "Webjam 8 is proudly sponsored by Adobe"} 
        %img{:alt => "Adobe", :src => "/images/sponsors/adobe-lg.gif"}
    /  
      %li
        %a{:href => "http://some.com/", :title => "Webjam 8 is proudly sponsored by Major Sponsor II"} 
          %img{:alt => "Major Sponsor II", :src => "/images/sponsors/2vouch.jpg"}

