%object#map{:data => src, :height => "350", :type => "text/html", :width => "425"}
  %p I'm sorry, your browser doesn't support this feature. You can see the map by clicking on the &lsquo;View larger version&rsquo; link.
