<% @section = :about %>
<% @page_title = "WTF is Webjam?" %>
<% @body_class = "about" %>

<h1>WTF is Webjam?</h1>
<p>It's a common question. Nobody really gets it until they've been to one. And every event is a bit different, so how do you know? I can't describe what it means for you, but I'm going to explain how we got here, what it means to us and where we think we're going</p>

<h2>Who came up with this madness?</h2>



<!-->
<p>Anson Parker and I were chilling at some sort of post-work drinks on a Friday evening in October last year. We didn't work together and we didn't know each other too well, but we'd been riffing on and off about stuff at various geeky events around town for a few months and we hit it off</p>

<p>Anson knew about a bunch of cool stuff that was happening locally that I'd never heard of, and I knew great projects and people he'd never heard of. So we tried to work out how we could help everybody learn about all the innovative brilliant web work that's being done in Australia. Our answer was to throw a big party and get people to talk about their projects</p>

<p>The trick was how to make it fun and interesting. We added alcohol and made the presentations really short
-->
