.item-details
  %h2 Related bloggings&hellip;
- unless @event.posts.empty?
  %ul
    - for post in @event.posts.sort.reverse
      %li
        %a{:href => post_path(post.year, post.permalink)}=h post.title
