- @page_title =h @event.name
- @regular_version_path = event_path(@event)

%p
  \~ 18 presenters,
  = pluralize(@event.rsvps.count, "attendee") + ","
  and a whole lot of awesome geekery.

= @event.hype
