<% @page_title = h(@event.name) -%>

<h1><%=h @event.name %> - Upcoming</h1>

<% unless @event.full? or current_user.rsvped?(@event) %>
 <p>
  <% form_tag event_rsvps_path(@event) do |form| %>
   <%= submit_tag 'RSVP!' %>
  <% end %>
 </p>
<% end %>
