- @page_title = h(@event.name)

%h1
  =h @event.name
  (Upcoming)

- if logged_in?
  - if current_user.rsvped?(@event)
    You&rsquo;ve RSVPed
  - elsif @event.full?
    FULL
  - else
    - form_tag event_rsvps_path(@event) do |form|
      = submit_tag 'RSVP!'

  = link_to "Submit a proposal", new_event_presentation_proposal_path(@event)
