- @page_title =h @event.name

%p
  \~ 18 presenters,
  = pluralize(@event.rsvps.count, "attendee") + ","
  and a whole lot of awesome geekery.

= @event.hype

- unless @event.posts.empty?
  .item.last#related-posts
    = render :partial => "related_posts"
