<% @section = :openid %>
<% @page_title = "Blog Archive" %>
<% @body_class = "archive" %>

<h1>posts age like wine. <strong>blog archive</strong></h1>

<ul class="xoxo year" id="year-2008">
    <li>
        <h2><a href="#year-2008">2008</a></h2>
        <ul class="month" id="february-2008">
            <li>
                <h3><a href="#february-2008">February</a></h3>
                <ul class="posts">
                    <li><a href="#">Webjam Christmas Edition</a> (<a class="comments" href="#comments">6</a>); and</li>
                    <li><a href="#">Let's talk about 2008</a> (<a class="comments" href="#comments">25</a>).</li>
                </ul> <!-- // .posts -->
            </li>
        </ul> <!-- // .month #february-2008 -->
        <ul class="month" id="january-2008">
            <li>
                <h3><a href="#january-2008">January</a></h3>
                <p>Nada. We posted zip.</p>
            </li>
        </ul> <!-- // .month #january-2008 -->
    </li>
</ul> <!-- // .xoxo.year #year-2008 -->

<ul class="xoxo year" id="year-2007">
    <li>
        <h2><a href="#year-2007">2007</a></h2>
        <ul class="month" id="december-2007">
            <li>
                <h3><a href="#december-2007">December</a></h3>
                <ul class="posts">
                    <li><a href="#">Webjam Christmas Edition</a> (<a class="comments" href="#comments">6</a>); and</li>
                    <li><a href="#">Let's talk about 2008</a> (<a class="comments" href="#comments">25</a>).</li>
                </ul> <!-- // .posts -->
            </li>
        </ul> <!-- // .month #december-2007 -->
        <ul class="month" id="november-2007">
            <li>
                <h3><a href="#november-2007">November</a></h3>
                <ul class="posts">
                    <li><a href="#">the webjam that was: sydney represents</a> (<a class="comments" href="#comments">12</a>);</li>
                    <li><a href="#">OMG! webjam’s on tomorrow!</a> (<a class="comments" href="#comments">2</a>);</li>
                    <li><a href="#">need hints? ask some past jammers;</a> (<a class="no-comments" href="#comments">0</a>)</li>
                    <li><a href="#">sponsor shoutout</a> (<a class="comments" href="#comments">16</a>);</li>
                    <li><a href="#">sydney: call for jammers</a> (<a class="comments" href="#comments">6</a>); and</li>
                    <li><a href="#">another post about something</a> (<a class="comments" href="#comments">0</a>).</li>
                </ul> <!-- // .posts -->
            </li>
        </ul> <!-- // .month #november-2007 -->
    </li>
</ul> <!-- // .xoxo.year #year-2007 -->
