<% @section = :openid %>
<% @page_title = "Blog Archive" %>
<% @body_class = "archive" %>

<h1>posts age like wine. <strong>blog archive</strong></h1>

<ul class="xoxo" id="year-2007">
    <li>
        <h2><a href="#year-2007">2007</a></h2>
        <ul id="december-2007">
            <li>
                <h3><a href="#december-2007">December</a></h3>
                <ul class="posts">
                    <li><a href="#">Webjam Christmas Edition; and</a></li>
                    <li><a href="#">Let's talk about 2008</a></li>
                </ul> <!-- // .posts -->
            </li>
        </ul> <!-- // #december-2007 -->
        <ul id="november-2007">
            <li>
                <h3><a href="#november-2007">November</a></h3>
                <ul class="posts">
                    <li><a href="#">the webjam that was: sydney represents;</a></li>
                    <li><a href="#">OMG! webjam’s on tomorrow!;</a></li>
                    <li><a href="#">need hints? ask some past jammers;</a></li>
                    <li><a href="#">sponsor shoutout;</a></li>
                    <li><a href="#">sydney: call for jammers; and</a></li>
                    <li><a href="#">another post about something.</a></li>
                </ul> <!-- // .posts -->
            </li>
        </ul> <!-- // #november-2007 -->
    </li>
</ul> <!-- // .xoxo #year-2007 -->
