- @section = :contributors
- @page_title = "Contributors"

.item.last 
  %h1 Contributors
  %p
    Webjam wouldn&rsquo;t be what it is without the community help.
  
  %h2 Presenters
  %p
    The biggest props go to everyone who's got up on stage to show off their
    cool tech &mdash; you&rsquo;re what webjam is all about.

  / List of everyone who's done a WebJam presentation (ranked by count?)
  
  %h2 Web Site
  
  %p
    The original Webjam site was lovingly hand-crafted by by Anson Parker. May it forever RIP.

  %p
    The site you&rsquo;re looking at now lives at
    %a{:href => "http://github.com/toolmantim/webjam"} github
    and we&rsquo;re always looking for willing hackers.

  %ul.props
    %li Phil Oye
    %li Simon Wright
    %li Lachlan Hardy
    %li Tim Lucas
    %li Lincoln Stoll
    %li Lachie Cox
    %li Dylan Fogarty-McDonald
    %li Dylan Egan
    %li John Barton
    
  %p We&rsquo;ve been helped in the past by SegPub hosting the old website and SMS voting system.

  %h2 Event Organisation
  
  %p Running a webjam takes a lot of sweat, preparation and smooth talking.
  
  %ul.props
    %li Lachlan Hardy &amp; Anson Parker
    %li Lisa Herrod
    / Others?

  %h2 Videos
  
  %ul.props
    %li Danielle and Marcus
  
  %h2 SMS Voting &amp; Visualisations
  
  %ul.props
    %li Tim Lucas
    %li Cameron Adams

  %p DirectSMS have always been there with the HTTP-SMS gateway used by the voting system.