- @section = :contributors
- @page_title = "Contributors"
- @body_class = "contributors"

- content_for :other_content do
  = default_other_content

.item.last 
  %h1 Contributors
  %p Webjam wouldn&rsquo;t be what it is without the community help.
  
  %h2 Presenters
  %p The biggest props go to everyone who's got up on stage to show off their cool tech &mdash; you&rsquo;re what Webjam is all about.

  / List of everyone who's done a WebJam presentation (ranked by count?)
  
  %h2 Web Site
  
  %p The original iterations of the Webjam site were lovingly hand-crafted by <a href="http://phasetwo.org/">Anson Parker</a>. May they forever RIP.

  %p
    The site you&rsquo;re looking at now lives at
    %a{:href => "http://github.com/webjam/webjam"} github
    and we&rsquo;re always looking for willing hackers. Feel free to fork it and get involved!

  %ul.props
    %li
      %a{ :href => "http://blog.whoisjohnbarton.com/" } John Barton
    %li
      %a{ :href => "http://smartbomb.com.au/" } Lachie Cox
    %li 
      %a{ :href => "http://faces.rubyonrails.com.au/users/18" } Dylan Egan
    %li 
      %a{ :href => "http://dylanfm.com/"} Dylan Fogarty-MacDonald
    %li
      %a{ :href => "http://lachstock.com.au" } Lachlan Hardy 
    %li 
      %a{ :href => "http://scenariogirl.com/" } Lisa Herrod
    %li
      %a{ :href => "http://toolmantim.com/" } Tim Lucas
    %li
      %a{ :href => "http://philoye.com/" } Phil Oye
    %li 
      %a{ :href => "http://lstoll.net/" } Lincoln Stoll
    %li
      %a{ :href => "http://diversionary.net" } Simon Wright
    
  %p We&rsquo;ve been helped in the past by <a href="http://segpub.com/">SegPub</a> hosting the old website and SMS voting system.

  %h2 Event Organisation
  
  %p Running a webjam takes a lot of sweat, preparation and smooth talking.
  
  %ul.props
    %li 
      %a{ :href => "http://lachstock.com.au" } Lachlan Hardy 
      <span class="amp">&amp;</span> 
      %a{ :href => "http://phasetwo.org/" } Anson Parker
    %li 
      %a{ :href => "http://scenariogirl.com/" } Lisa Herrod
      
  %h2 Event Management
  %ul.props
    %li 
      %a{ :href => "http://scenariogirl.com/" } Lisa Herrod

  %h2 Audio and Video
  
  %ul.props
    %li
      %a{ :href => "http://www.notanotherfoodblog.com/" } Irena Macri
    %li Josh Ruscheinsky
    %li
      %a{ :href => "http://betamakz.com/"} Marcus Stenbeck
    %li
      %a{ :href => "http://madamecito.com/" } Danielle Szetho
  
  %h2 SMS Voting <span class="amp">&amp;</span> Visualisations
  
  %ul.props
    %li
      %a{ :href => "http://themaninblue.com/"} Cameron Adams
    %li
      %a{ :href => "http://toolmantim.com/" } Tim Lucas


  %p <a href="http://directsms.com.au/">DirectSMS</a> have always supported us by providing the HTTP-SMS gateway used for the voting system free of charge.
