<% @page_title = "Webjam: 3 minutes of piping hot web" %>
<% @body_class = "home" %>
<% @section = :home %>

<% content_for :top do %>
  <h1><%= image_tag 'webjam-logo.png', :size => '1033x152', :alt => "Webjam" %></h1>
<% end %>
