- @page_title = "Webjam"
- @regular_version_path = home_path("redirect-to-mobile" => "no")

- content_for :header do
  #home-header
    %h1
      %span Webjam

- unless @upcoming_events.empty?
  %h2 Upcoming Webjams
  %ul.group
    - for event in @upcoming_events
      %li= render :partial => "shared/event_item", :locals => {:event => event}

- if @last_event
  %h2 Last Event
  %ul.group
    %li= render :partial => "shared/event_item", :locals => {:event => @last_event}

- if @last_post
  %h2 Latest News
  %ul.group.latest-news
    %li= render :partial => "shared/news_post", :locals => {:post => @last_post}

%ul.group
  %li
    %a.button.item{:href => formatted_about_path(:mobile)} About
  %li
    %a.button.item{:href => formatted_past_events_path(:mobile)} Past Events
  %li
    %a.button.item{:href => formatted_posts_path(:mobile)} News Archive
