<% @section = :openid %>
<% @page_title = "What's this about OpenID?" %>
<% @body_class = "openid" %>

<h1>Why can't I just register with a password like I'm used to?</h1>

<p>The short answer is that we don't want you to. The longer answer has two parts detailed below:</p>

<h2>Webjam doesn't want your souls!</h2>

<p>Some cultures believe that a photograph can capture the soul of the subject. Webjam believes that identity silos capture the soul of the account holder.</p>

<p>You know what we're talking about. Many sites (social networking or otherwise) exist with the business objective of milking as much information as possible out of each <em>user</em>. There are various ways of using this information for money, depending on the ethics of those involved. That's okay. Everything's a trade-off. Webjam gets that. Hell, we're <em>users</em> of many of these sites. Sometimes we even like that.</p>

<p>Webjam isn't like that. Webjam doesn't care when your birthday is (although we hope you have a ripper!). Webjam doesn't need to know your address, your job title, your favourite colour or your mother's maiden name.</p>

<p>Webjam wants to know that you're excited about cool stuff that's built on the web. We want to know what you have to say about innovation, new trends and technologies. We want to see what you're doing on the web. What you can build, design, demonstrate, improve or hack together on a rainy Sunday afternoon or way too late at night. And then we want to show it to other people. Lots of other people.</p>

<p>So Webjam is only ever going to ask you for data that helps us do that. We have no interest in your souls. Just the sparks that flow from them.</p>

<h2>Webjam wants your brainssss!</h2>

<p>How identity is represented on the web and across multiple applications is <strong>the</strong> next big problem for all the cool kids to chase solutions for. OpenID is a strong and increasingly popular part of the puzzle for many of these proposed solutions, but it's not perfect. It's too new and there are still all sorts of issues with its use—some niggling, some major.</p>

<p>We want to improve the OpenID experience. We want it to be more usable, better designed and easier to implement. We want more people to have experience with and understand the issues around OpenID, single sign-on and how that affects the representations of your identity on the web. That requires exposure to the concepts. It requires discussion and it requires clever people focused on innovation and improvement of the web.</p>

<p>Who better to do that than the Webjam community? Who better than the rocking peeps who come to every event to cheer, heckle and think about all those shiny three minute presentations?</p>

<p>If neither of those reasons convince you to try it, please come and talk to us at our <a href="http://getsatisfaction.com/webjam">Get Satisfaction account</a>. Or post about it on your blog. We share everything we find on the web about Webjam on the <a href="http://webjam.tumblr.com">Webjam tumblelog</a> account—the good and the bad.</p>

<h2>Risky Business</h2>

<p>We don't believe this to be best practice. We don't typically do it in our production web applications and we don't advocate you do either - although it is a possible to make a case for it.</p>

<p>Webjam is our space to push the boundaries and try things we wouldn't do for the mainstream yet. This site and the attitudes of the folks in this community gives us the freedom to experiment a little and we'd like to share that with you. <a href="/users/new">Go register</a>, and you can be a part of it as we crash and burn or take wing and soar.</p>





