<% @section = :statichome %>
<% @page_title = "Webjam brings you the latest in piping hot web" %>
<% @body_class = "home" %>

<div class="event">
  <div class="event-details">
    <h2>Webjam 8</h2>
    <h3>Perth, 15 Aug 08</h3>
    <a class="details" href="/webjam8/">Details</a>
  </div> <!-- // .event-details -->
  <div class="column">
    <p>This is some clever text that’ll hype the next webjam. This is some clever text that’ll hype the next webjam. This is some clever text that’ll hype the next webjam.</p>
  </div> <!-- // .column -->
  <div class="column">
    <p>Want to attend? Only 76 spots, get on it. <a class="button rsvp" href="#">RSVP</a></p>
    <p>Want to present? Applications are closed. <a class="button closed" href="#">Too late</a></p>
  </div> <!-- // .column -->
</div> <!-- // .event -->
<div class="event">
  <div class="event-details">
    <h2>Webjam 7</h2>
    <h3>Sydney, 21 Jun 08</h3>
    <a class="details" href="/webjam7/">Rewind</a>
  </div> <!-- // .event-details -->
  <div class="slideshow">
    slideshow goes here
  </div> <!-- // .slideshow -->
  <p>18 presenters. 345 attendees. Alcohol.</p>
  <div class="sponsors">
    <p>Proudly sponsored by</p>
    <ul>
      <li><a href="#">DirectSMS</a></li>
      <li><a href="#">SegPub</a></li>
      <li><a href="#">iBurst</a></li>
    </ul>
  </div> <!-- // .sponsors -->
</div> <!-- // .event -->
<div class="event">
  <div class="event-details">
    <h2>Webjam 6</h2>
    <h3>Melbourne, 01 May 08</h3>
    <a class="details" href="/webjam6/">Rewind</a>
  </div> <!-- // .event-details -->
</div> <!-- // .event -->
<div class="event">
  <div class="event-details">
    <h2>Webjam 5</h2>
    <h3>Melbourne, 01 May 08</h3>
    <a class="details" href="/webjam6/">Rewind</a>
  </div> <!-- // .event-details -->
</div> <!-- // .event -->
<div class="event">
  <div class="event-details">
    <h2>Webjam 4</h2>
    <h3>Melbourne, 01 May 08</h3>
    <a class="details" href="/webjam6/">Rewind</a>
  </div> <!-- // .event-details -->
</div> <!-- // .event -->
<div class="event">
  <div class="event-details">
    <h2>Webjam 3</h2>
    <h3>Melbourne, 01 May 08</h3>
    <a class="details" href="/webjam6/">Rewind</a>
  </div> <!-- // .event-details -->
</div> <!-- // .event -->
<div class="event">
  <div class="event-details">
    <h2>Webjam 2</h2>
    <h3>Melbourne, 01 May 08</h3>
    <a class="details" href="/webjam6/">Rewind</a>
  </div> <!-- // .event-details -->
</div> <!-- // .event -->
<div class="event">
  <div class="event-details">
    <h2>Webjam 1</h2>
    <h3>Melbourne, 01 May 08</h3>
    <a class="details" href="/webjam6/">Rewind</a>
  </div> <!-- // .event-details -->
</div> <!-- // .event -->
