- @section = :staticevent
- @page_title = "Webjam 8 rocked my world!"
- @body_class = "event"
.item
  .event-details
    %h1 Webjam 8
    %h2 Perth, 15 Aug 08
    
  .column
    %p This is some clever text that’ll hype the next webjam. This is some clever text that’ll hype the next webjam. This is some clever text that’ll hype the next webjam.

  .column
    %dl.registration
      %dt
        %a.button.rsvp{ :href => "#" } RSVP
      %dd
        %p
          %strong Want to attend?
          Only 76 spots, get on it.
      %dt
        %span.button.closed Too late
      %dd
        %p
          %strong Want to present?
          Applications are closed.
 
.item
  .event-details
    %h2 Meet our sponsors
  %ul.sponsors
    %li.proud Proudly sponsored by
    %li
      %a.directSMS{ :href => "#" } DirectSMS
    %li
      %a.directSMS{ :href => "#" } SegPub
    %li
      %a.directSMS{ :href => "#" } iBurst

.item
  .event-details
    %h2 What you&apos;re in for

  .slideshow
    %p fast moving slideshow goes here

  %p 18 presenters. 345 attendees. Alcohol.

.item.last
  .event-details
    %h2 The deets

  .map
    %p map goes here

  %p venue address start time date
  