- @section = :statichome
- @page_title = "Webjam brings you the latest in piping hot web"
- @body_class = "home"
.event
  .event-details
    %h2 Webjam 8
    %h3 Perth, 15 Aug 08
    %a.details{ :href => "/webjam8/" } Details
    
  .column
    %p This is some clever text that’ll hype the next webjam. This is some clever text that’ll hype the next webjam. This is some clever text that’ll hype the next webjam.

  .column
    %dl.registration
      %dt
        %a.button.rsvp{ :href => "#" } RSVP
      %dd
        %p
          %strong Want to attend?
          Only 76 spots, get on it.
      %dt
        %span.button.closed Too late
      %dd
        %p
          %strong Want to present?
          Applications are closed.
 
.event
  .event-details
    %h2 Webjam 7
    %h3 Sydney, 21 Jun 08
    %a.details{ :href => "/webjam7/" } Rewind

  .slideshow
    %ul
      %li
        %img{ :title => "Black & White", :src => "/images/temp/lightning.jpg", :alt => "Lightning" }/
      %li
        %img{ :title => "Fusce quam mi, sagittis nec, adipiscing at, sodales quis", :src => "/images/temp/lotus.jpg", :alt => "Lotus" }/
      %li
        %img{ :title => "Suspendisse volutpat posuere dui. Suspendisse sit amet lorem et risus faucibus pellentesque.", :src => "/images/temp/mojave.jpg", :alt => "Mojave" }/
      %li
        %img{ :title => "Proin erat nisi", :src => "/images/temp/pier.jpg", :alt => "Pier" }/
      %li
        %img{ :title => "Caption text from title", :src => "/images/temp/sea-mist.jpg", :alt => "Sea Mist" }/
      %li
        %img{ :title => "Flowing Rock Caption", :src => "/images/temp/flowing-rock.jpg", :alt => "Flowing Rock" }/
      %li
        %img{ :title => "Stones - from Apple images", :src => "/images/temp/stones.jpg", :alt => "Stones" }/
      %li
        %img{ :title => "Apple nature desktop images", :src => "/images/temp/grass-blades.jpg", :alt => "Grass Blades" }/
      %li
        %img{ :title => "Ut rutrum, lectus eu pulvinar elementum, lacus urna vestibulum ipsum", :src => "/images/temp/ladybug.jpg", :alt => "Ladybug" }/

  %p 18 presenters. 345 attendees. Alcohol.
  %ul.sponsors
    %li.proud Proudly sponsored by
    %li
      %a.directSMS{ :href => "#" } DirectSMS
    %li
      %a.directSMS{ :href => "#" } SegPub
    %li
      %a.directSMS{ :href => "#" } iBurst

.event
  .event-details
    %h2 Webjam 6
    %h3 Melbourne, 01 May 08
    %a.details{ :href => "/webjam6/" } Rewind

.event
  .event-details
    %h2 Webjam 5
    %h3 Melbourne, 01 May 08
    %a.details{ :href => "/webjam5/" } Rewind

.event
  .event-details
    %h2 Webjam 4
    %h3 Melbourne, 01 May 08
    %a.details{ :href => "/webjam4/" } Rewind

.event
  .event-details
    %h2 Webjam 3
    %h3 Melbourne, 01 May 08
    %a.details{ :href => "/webjam3/" } Rewind

.event
  .event-details
    %h2 Webjam 2
    %h3 Melbourne, 01 May 08
    %a.details{ :href => "/webjam2/" } Rewind
    
.event.first
  .event-details
    %h2 Webjam 1
    %h3 Melbourne, 01 May 08
    %a.details{ :href => "/webjam1/" } Rewind
