- @section = :staticevent
- @page_title = "Webjam 8 rocked my world!"
- @body_class = "event complete"
- @event_num = 8

- content_for :other_content do
  %div.item#summary
    %p This is some clever text about how cool this event was. This is some clever text about the webjam. This is some clever text about the webjam. This is some clever text about the webjam. 

    %h2 Place-getters:
    %ol
      %li This presentation won
      %li This presentation came second
      %li This presentation was third

    %h2 Presenters:
    %ul
      %li This is a presentation
      %li This is a presentation
      %li This is a presentation
      %li This is a presentation
      %li This is a presentation
      %li This is a presentation
      %li This is a presentation
      %li This is a presentation
      %li This is a presentation
  

.item
  .item-details
    %h1 Webjam 8
    %h2.date Perth, 15 Aug 08
    
  .slideshow
    %ul
      %li
        %img{ :title => "Black & White", :src => "/images/temp/lightning.jpg", :alt => "Lightning" }/
      %li
        %img{ :title => "Fusce quam mi, sagittis nec, adipiscing at, sodales quis", :src => "/images/temp/lotus.jpg", :alt => "Lotus" }/
      %li
        %img{ :title => "Suspendisse volutpat posuere dui. Suspendisse sit amet lorem et risus faucibus pellentesque.", :src => "/images/temp/mojave.jpg", :alt => "Mojave" }/
      %li
        %img{ :title => "Proin erat nisi", :src => "/images/temp/pier.jpg", :alt => "Pier" }/
      %li
        %img{ :title => "Caption text from title", :src => "/images/temp/sea-mist.jpg", :alt => "Sea Mist" }/
      %li
        %img{ :title => "Flowing Rock Caption", :src => "/images/temp/flowing-rock.jpg", :alt => "Flowing Rock" }/
      %li
        %img{ :title => "Stones - from Apple images", :src => "/images/temp/stones.jpg", :alt => "Stones" }/
      %li
        %img{ :title => "Apple nature desktop images", :src => "/images/temp/grass-blades.jpg", :alt => "Grass Blades" }/
      %li
        %img{ :title => "Ut rutrum, lectus eu pulvinar elementum, lacus urna vestibulum ipsum", :src => "/images/temp/ladybug.jpg", :alt => "Ladybug" }/

  %h3 Jams == Kicked Out ++
  %p 
    16 rocking peeps stepped up and delivered incredible presentations that included topics like open source development, the advance of technology, mashing videos, the future of CSS, making your own wedding registry, getting funky with MathML, looking famous and even how to present at Webjam! There's a full list at the end, but we're going to call out some highlights and the winners.
    %a.details{ :href => "#"} Read more

.item#sponsors
  .item-details
    %h2 Thanks to our sponsors
  %ul.sponsors
    %li
      %a.directSMS{ :href => "#" } DirectSMS
    %li
      %a.directSMS{ :href => "#" } SegPub
    %li
      %a.directSMS{ :href => "#" } iBurst

.item.last
  .item-details
    %h2 The deets
  .column
    .map
      %p map goes here
  .column
    %dl
      %dt Bar Broadway
      %dd Cnr Broadway &amp; Harris
      %dd Doors open 6.00pm
      %dd Presentations start 6.30pm
      %dd 15 August 2008
  