<% @section = :statichome %>
<% @page_title = "What is Webjam?" %>
<% @body_class = "about" %>

<h1>What is <strong>Webjam</strong>?</h1>

<p><strong>18 presenters</strong><br/>
with <strong>3 minutes</strong> each<br/>
to show off their <strong>hot web work</strong>.</p>
<p>You <strong>vote</strong> for the big winner<br/>
and they get to take home <strong>cool booty</strong>.</p>
<p>Oh, and sometimes there are <strong>free drinks</strong> too.</p>

