- @section = :staticpres
- @page_title = "Presentation title - Webjam"
- @body_class = "presentation"
- @event_num = 8

- content_for :other_content do
  .item
    %dl.vcard
      %dt.fn
        %span.firstname Dmitry 
        %span.lastname Baranovskiy
      %dd.nickname
        %a{ :href => "/dmitrybaranovsk" } dmitrybaranovsk
      %dd.url 
        %a{ :href =>"#" } thisisadomain.com
      %dd.url 
        %a{ :href => "#" } thisanotherdomain.com
      %dd.img
        %img{ :alt => " ", :height => "140", :src => "/images/default-avatar-largest.gif", :width => "140" }
      %dd.facets
        %ul
          %li
            %a{ :href => "http://twitter.com/dmitrybaranovsk" } twitter
          %li
            %a{ :href => "http://flickr.com/dmitrybaranovsk" } flickr
          %li
            %a{ :href => "http://github.com/dmitrybaranovsk" } github
          %li
            %a{ :href => "http://ma.gnolia.com/dmitrybaranovsk" } ma.gnolia  
      %dd.contact
        %a.button{ :href => "#" } Contact
  
  = render :partial => 'shared/other_content/shirt'
  
- content_for :full_title do
  #title
    %p 1st
    %h1
      %strong Optimus
      by Dmitry Baranovskiy

.item
  .video TODO: Viddler player goes here
  %p This is some text about the presentation. This is some text about the presentation. This is some text about the presentation. This is some text about the presentation. This is some text about the presentation. This is some text about the presentation. This is some text about the presentation. 
    
.item.media#photos
  .item-details
    %h2 Photos
    %p 
      Add your photos. Tag them on
      %a{ :href => "http://flickr.com/"} Flickr
      with &#8220;
      %a{ :href => "http://flickr.com/photos/tags/webjam8:pres=3/" } webjam8:pres=3
      &#8221;
    %ul
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
      %li
        %a{ :href => "http://flickr.com/photos/misswired/408145144/" }
          %img{ :alt => "By misswired", :height => "75", :src => "http://farm1.static.flickr.com/188/408145144_78317398d5_s.jpg", :title => "By misswired", :width => "75"}
          
.item#comments
  .item-details
    %h2 Props
  .comment#comment-1
    %p This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment.
    %p This is a second paragraph in a comment. This is a second paragraph in a comment. This is a second paragraph in a comment. This is a second paragraph in a comment.
    %p.comment-details
      1
      /= user_link_for_comment(comment.user, "author")
      %a.author.user-avatar.vcard{ :href => "/lachlanhardy" }
        %img.photo{ :alt => "lachlanhardy", :src => "/images/default_avatar_tiny.gif" }
        &nbsp;
        %span.fn.nickname lachlanhardy
        
      /%a{ :href => "http://example.com/" } Joe Bloggs
      wrote less than a minute ago
    
    
    
    
    
    
    
  
              