- @page_title = "Webjam Votestream"

%h2 Webjam Votestream

%p Every WebJam 250 peeps submit SMS votes for their favourite presos. Every WebJam we get some funky visualisation on the big screen.

%p We're looking for <strong>you</strong> to come up with a funky visualisation to put up on the big screen as the votes come in.

%p (insert demo of the votestream URL workin)
