- @page_title = "RSVP for #{h(@event.name)}"

- content_for :other_content do
  %p Something about RSVP'ing?

.item.last
  %h2= @page_title

  - form_tag event_rsvp_path(@event) do |form|
    = submit_tag 'Put me down!'
