- @page_title = "You&rsquo;ve RSVP&rsquo;d for #{h(@event.name)}"

- content_for :other_content do
  %p Thanks for thinking of the others who might want your ticket!

.item.last
  %h2
    Not able to make it to
    = h(@event.name) + "?"
  = button_to "I can no longer attend", event_rsvp_path(@event), :method => :delete
  %p
    Alternatively,
    %a{:href => event_path(@event)} check out the event details
