<% @section = :posts -%>
<% @page_title = "Blog posts" -%>

<h1>Posts</h1>

<% content_for :subcontent do %>
  <ul>
    <li><%= link_to "New post", new_admin_post_path %></li>
  </ul>
<% end %>

<% for post in @posts %>
  <li><%= link_to h(post), [:admin, post] %></li>
<% end %>
