- @section = :rsvps
- @page_title = "Event #{@event.name} rsvps"

%h1= pluralize(@rsvps.length, "RSVP")

%ul
  - for rsvp in @rsvps
    %li
      %a{:href => user_path(rsvp)}
        =h rsvp.user.nick_name
        = "(#{h rsvp.user.full_name})"
