- @section = :rsvps
- @page_title = "Event #{@event.name} rsvps"

%h1= pluralize(@rsvps.length, "RSVP")

%ul
  - for rsvp in @rsvps
    %li
      = link_to h(rsvp.user.nick_name), [:admin, @event, rsvp], :method => :delete
