<h3><%= link_to h(post.title), post_path(post) %></h3>
<%= post.body %>
<p>
  <em>
    <%= time_ago_in_words post.published_at %> ago by <%= user_link_with_avatar(post.user) %>
    <% if !post.comments.empty? %>
      (<%= pluralize(post.comments.count, 'comment') %>)
    <% end %>
  </em>
</p>
