<dl class="vevent">
  <dt class="summary"><%= link_to h(event.location), event_path(event), :class => "url" %><%= time_to_event event %></dt>
  <dd class="location"><%=h event.location %></dd>
  <dd class="date-time">
    <abbr class="dtstart" title="20070815">
      <span class="date">15</span>
      <span class="month">Aug</span>
    </abbr>
  </dd> <!-- // .date_time -->
</dl>
