<!-- event pages only -->
<div id="sponsors">
  <strong class="title">Sponsors</strong>
  <div id="sponsorad" class="sponsorbadge"><a href="http://adobe.com.au"></a></div>
  <div id="sponsorms" class="sponsorbadge"><a href="http://microsoft.com.au"></a></div>
  <div class="sponsorbadge"><a href="mailto:showusthemoney@webjam.com.au">showusthemoney@webjam.com.au</a></div>
  <div class="sponsorbadge"><a href="mailto:showusthemoney@webjam.com.au">showusthemoney@webjam.com.au</a></div>
  <div class="sponsorbadge"><a href="mailto:showusthemoney@webjam.com.au">showusthemoney@webjam.com.au</a></div>
</div> <!-- // #sponsors -->

<!-- event pages only -->
<div id="supporters">
  <strong class="title">Supporters</strong>
  <a href="http://segpub.net/" style="float: right"><img alt="SegPub" src="/images/sup_segpub.gif" /></a>
  <a href="http://iburst.com.au/"><img alt="iBurst" src="/images/sup_iburst.gif" /></a>
  <a href="http://directsms.com.au/"><img alt="DirectSMS" src="/images/sup_directsms.gif" /></a>
</div> <!-- // #supporters -->