!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" }/
    = stylesheet_link_tag "iphone"
    %title
      = @page_title
  %body
    = yield :layout
  %footer
    %p
      %a{:href => @regular_version_path || home_path("redirect-to-mobile" => "no")} Regular site
