.sponsors.major
  %h3 Major Sponsors
  %ul.sponsor-logos
    %li
      %a{:href => "http://atlassian.com/32/", :title => "Webjam 10 is proudly sponsored by Atlassian"} 
        %img{:alt => "Atlassian is hiring 32 engineers", :src => "/images/sponsors/atlassian-32.png"}