.item#summary
  %p 21 presenters delivered 16 exciting presentations, ranging from spinning dollar signs and text-based AR to gorgeous vector graphics and the history of the Australian web
  %h2 Place-getters:
  %ol
    %li
      %strong
        %a{:href => "http://dmitry.baranovskiy.com/"} Dmitry Baranovskiy
      %a{:href => "http://g.raphaeljs.com/"} gRaphael
    %li
      %strong
        %a{:href => "http://germanforblack.com/"} Ben Schwarz
      %a{:href => "http://github.com/benschwarz/smoke"} Reinterpreting the Web in 180 seconds
    %li
      %strong
        %a{:href => "http://gregturner.com/"} Greg Turner
      %a{:href => "http://avant.interactionconsortium.com/australian_internet/"} The History of the Australian Web
  %h2 Presenters:
  %ul
    %li
      %strong
        %a{:href => "http://twitter.com/colgo"} Paul Colgan
      %a{:href => "http://www.thepunch.com.au/"} The Punch
    %li
      %strong
        %a{:href => "http://codespike.com/"} Jason Crane
      The Art of Sleep Hacking
    %li
      %strong
        %a{:href => "http://my.opera.com/tagawa/"} Daniel Davis
      %a{:href => "http://unite.opera.com/"} Opera Unite
    %li
      %strong
        %a{:href => "http://myles.eftos.id.au/blog/"} Myles Eftos
        <span class="amp">&amp;</span>
        %a{:href => "http://www.speakinteractive.com/"} Grant Bissett
        <span class="amp">&amp;</span>
        %a{:href => "http://spoon.com.au/"} Ben Giles
      So how much money are you making on the interwebs?
    %li
      %strong
        %a{:href => "http://halans.com/"} Jean-Jacques Halans
      %a{:href => "http://nextsydneyferry.com/"} Next Sydney Ferry
      <span class="amp">&amp;</span>
      %a{:href => "http://tweetframeapp.com/"} TweetFrame
    %li
      %strong
        %a{:href => "http://lachy.id.au/"} Lachlan Hunt
      Funky New Web Development Features in Opera
    %li
      %strong
        %a{:href => "http://blog.metawrap.com/blog/"} James McParlane
      %a{:href => "http://blog.metawrap.com/blog/IntroducingQrtlNdashCommandLinePhotoshop.aspx"} QRTL
    %li
      %strong
        %a{:href => "http://my.opera.com/chrismills/"} Chris Mills
      %a{:href => "http://my.opera.com/chrismills/blog/show.dml/4404573"} Web Application UI Showcase
    %li
      %strong
        %a{:href => "http://paperfree.com.au/blog/"} Jason Patton
        <span class="amp">&amp;</span>
        %a{:href => "http://waynebutcher.posterous.com/"} Wayne Butcher
      %a{:href => "http://paperfree.com.au/"} PaperFree
      &mdash; Text your name to 04 2075 1015 to get involved in early testing.
    %li
      %strong
        %a{:href => "http://blog.mypod.me/"} Mark Pesce
      %a{:href => "http://blog.mypod.me/?p=77"} Augmented Reality Google
    %li
      %strong
        %a{:href => "http://silvia-pfeiffer.de/"} Silvia Pfeiffer
      HTML 5 Video Accessibility
    %li
      %strong
        %a{:href => "http://twitter.com/Twalve/"} Craig Sharkie
      Tweetr - a jQuery plugin for tweets
    %li
      %strong
        %a{:href => "http://makenosound.com/"} Max Wheeler
        <span class="amp">&amp;</span>
        %a{:href => "http://openmonkey.com/"} Tim Riley
        <span class="amp">&amp;</span>
        %a{:href => "http://hughevans.net/"} Hugh Evans
      %a{:href => "http://decafsucks.com/"} Decaf Sucks
