.item#winners
  .item-details
    %h2 The winners
  %dl.first
    %dt 
      %dt 
        %a{:href => "http://g.raphaeljs.com"} gRaphaël — the JavaScript Library
    %dd.img
      %a{:href => "http://www.flickr.com/photos/halans/3990137486/"}
        %img{ :alt => "Webjam10 by Jean-Jacques Halans", :height => "", :src => "http://farm3.static.flickr.com/2447/3990137486_e085d77bb1.jpg", :title => "Webjam10 by Jean-Jacques Halans", :width => "300"}
    %dd.place
      %p
        %strong 1st place:
        %a{:href => "http://dmitry.baranovskiy.com/"} Dmitry Baranovskiy
    %dd.prize
      %p
        %strong Prize:
        A <a href="http://webdirections.org/">Web Directions South 2010</a> ticket, and a $500 voucher for JB Hi-Fi
    %dd
      %p gRaphaël’s goal is to help you create stunning charts on your website. It is based on <a href="http://raphaeljs.com/">Raphaël</a> graphics library. Check out the demos to see static and interactive charts in action.
      %p gRaphaël currently supports Firefox 3.0+, Safari 3.0+, Opera 9.5+ and Internet Explorer 6.0+.
        
  %dl
    %dt
      %a{:href => "http://github.com/benschwarz/smoke"} Reinterpreting the Web in 180 seconds
    %dd.img
      %a{:href => "http://www.flickr.com/photos/halans/3990137352/"}
        %img{ :alt => "Webjam10 by Jean-Jacques Halans", :height => "", :src => "http://farm4.static.flickr.com/3443/3990137352_53bf0762f7_t.jpg", :title => "Webjam10 by Jean-Jacques Halans", :width => "90"}
    %dd.place
      %p
        %strong 2nd place:
        %a{:href => "http://germanforblack.com/"} Ben Schwarz
    %dd.prize
      %p
        %strong Prize:
        A conference ticket to either <a href="http://edgeoftheweb.org.au/">Edge of the Web</a> or <a href="http://webdu.com.au/">WebDu</a> next year, and a $300 voucher for JB Hi-Fi

  %dl
    %dt 
      %a{:href => "http://avant.interactionconsortium.com/australian_internet/"} The History of the Australian Web
    %dd.img
      %a{:href => "http://www.flickr.com/photos/halans/3989383053/"}
        %img{ :alt => "Webjam10 by Jean-Jacques Halans", :height => "", :src => "http://farm4.static.flickr.com/3433/3989383053_73a0a9ceec_t.jpg", :title => "Webjam10 by Jean-Jacques Halans", :width => "90"}
    %dd.place
      %p
        %strong 3rd place:
        %a{:href => "http://gregturner.com/"} Greg Turner
    %dd.prize
      %p
        %strong Prize:
        A conference ticket to either Edge of the Web or WebDu next year, and a $200 voucher for JB Hi-Fi